<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whut.mappers.CustomerMapper">
    <sql id="selectCustomer">
        select cid,cust_name,cust_mobile,cust_address,cust_ticket from customer
    </sql>
    <select id="listCustomer" resultType="Customer">
        <include refid="selectCustomer"></include>
        <!-- select cid,cust_name,cust_mobile,cust_address,cust_ticket from customer -->
    </select>

    <select id="seachCustomer" parameterType="string" resultType="Customer">
        select cid,cust_name,cust_mobile,cust_address,cust_ticket
        from customer
        where 1 = 1
        <if test="custName != null and custName.length > 0">
            and cust_name like concat('%',#{custName},'%')
        </if>
    </select>

    <select id="getCustomerById" resultType="Customer">
        select cid,cust_name,cust_mobile,cust_address,cust_ticket
        from customer
        where cid = #{cid}
    </select>

    <insert id="saveCustomer" parameterType="Customer" useGeneratedKeys="true" keyProperty="cid">
        insert into customer(cust_name,cust_mobile,cust_address,cust_ticket)
        values (#{custName},#{custMobile},#{custAddress},#{custTicket})
    </insert>
    
    <update id="updateCustomer" parameterType="Customer">
        update customer
        set cust_name = #{custName},cust_mobile=#{custMobile},cust_address=#{custAddress},cust_ticket=#{custTicket}
        where cid = #{cid}
    </update>
    
    <delete id="deleteCustomer" parameterType="Integer">
        delete from customer where cid = #{cid}
    </delete>
</mapper>